form(class="msg-form" method="POST" action="/new")
    div(class ="msg-input")
        input(id="msg-input-name" type="text" name="userName" placeholder="Enter a display name")
        input(id="msg-input-text" type="text" name="formMessage" placeholder="Leave a message...")
    div(id ="submit-msg-bg")
        input(id="submit-msg" type="image" src="/images/send-message.png" value="Submit")
