form(class="msg-form" method="POST" action="/new")
    div(class ="form-row")
        label(for="message") Message: 
        input(type="text" name="formMessage")
    div(class ="form-row")
        label(for="user-name") User name:
        input(type="text" name="userName")
    input(type="submit" value="Submit")
