extends layout
block content
  div(id="title") #{title}
  block form
  div(id="messages")
    each msg in messages
      div(class = "msg-card")
        div
          h2 #{msg.user} 
            span(class = "msg-date") #{msg.added}
        p #{msg.text}
  include form.pug